body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #99ddfc;
    font-family: 'Orbitron', sans-serif;
}

.style {
    height: 400px;
    width: 400px;
    background: black;
    color: white;
    font-size: 30px;
}